<html>
<% include templates/head.ejs %>
<body>
    <h1><b><%= goose.title%></b> by <%= goose.author %></h1>
    <% goose.rounds.forEach(function(round){ %>
        <h2><%= round.title %></h2>
        <h3><%= round.subtitle %></h3>
        <ul>
        <% round.options.forEach(function(option){ %>
            <li><%= option.name %></li>
        <% }) %>
        </ul>
    <% }) %>
    <% if (goose.games && goose.games.length) { %>
        <hr/>
        <h4>Played by:</h4>
        <ul>
        <% goose.games.forEach(function(game) { %>
            <% game.players.forEach(function(player) { %>
                <li><%= player %></li>
            <% }) %>
        <% }) %>
        </ul>
    <% } %>
</body>
</html>