<html>
<% include templates/head.ejs %>
<body>
<script>
    $('document').ready(function() {
        var ID;

        function updateButtons(saved) {
            if (saved) {
                $('#addBtn').hide();
                $('#removeBtn').show();
            } else {
                $('#addBtn').show();
                $('#removeBtn').hide();
            }
        }

        $('#addBtn').click(function() {
            var data = $('#gooseData').data('goose');
            $.post('/goose/add', {
                goose: JSON.stringify(data)
            }, function(result) {
                if (result.message) {
                    updateButtons(true);
                    ID = result.id;
                    alert(result.message);
                }
            });
        });
        $('#removeBtn').click(function() {
            var id = ID || $('#gooseData').data('goose')._id;
            $.ajax({
                url: '/goose/' + id,
                type: 'DELETE',
                success: function(result) {
                    if (result.message) {
                        updateButtons(false);
                        alert(result.message);
                    }
                }
            });
        });
    });
</script>
    <h1><b><%= goose.title%></b> by <%= goose.author %></h1>
    <% goose.rounds.forEach(function(round){ %>
        <h2><%= round.title %></h2>
        <h3><%= round.subtitle %></h3>
        <ul>
        <% round.options.forEach(function(option){ %>
            <li><%= option.name %></li>
        <% }) %>
        </ul>
    <% }) %>
    <% if (goose.players && goose.players.length) { %>
        <hr/>
        <h4>Played by:</h4>
        <ul>
        <% goose.players.forEach(function(player) { %>
            <li><%= player %></li>
        <% }) %>
        </ul>
    <% } %>
    <input id="gooseData" type="hidden" data-goose="<%= JSON.stringify(goose) %>">
    <button id="removeBtn" type="button" style="display:<%= saved ? 'inline-block' : 'none' %>" class="btn btn-danger">Remove from DB</button>
    <button id="addBtn" type="button" style="display:<%= saved ? 'none' : 'inline-block' %>" class="btn btn-success">Add to DB</button>
</body>
</html>