<html>
<% include templates/head.ejs %>

<script>
    $(document).ready(function() {
        $('.cell').click(function() {
            var cell = $(this);
            var action = cell.hasClass('success') ? 'remove' : 'add';
            var id = cell.data('goose');
            var player = cell.data('player');
            $.post('/goose/' + id + '/players/' + action + '/' + player, function(data) {
                if (data.played) {
                    cell.addClass('success');
                } else {
                    cell.removeClass('success');
                }
            });
        });
    });
</script>

<body>
<h1>Grid of games</h1>
<div class="container">
    <table class="table table-bordered grid">
        <tr>
            <th></th>
            <% players.forEach(function(player) { %>
            <th><%= player %></th>
            <% })%>
        </tr>
        <% games.forEach(function(game) { %>
        <tr>
            <td><b><%= game.title %></b> by <%= game.author %></td>
            <% players.forEach(function(player) { %>
                <% if (game.author == player) { %>
                    <td class="crossed"></td>
                <% } else if (game.players.indexOf(player) < 0) {%>
                    <td class="cell" data-player="<%= player %>" data-goose="<%= game.id %>"></td>
                <% } else {%>
                    <td class="cell success" data-player="<%= player %>" data-goose="<%= game.id %>"></td>
                <% } %>
            <% }) %>
        </tr>
        <% })%>
    </table>
</div>
</body>
</html>